@import '~vuetify/src/styles/styles.sass';

$border-radius-root: 22px;
$btn-border-radius: 12px;

$data-table-regular-header-font-size: 18px;

$material-theme: $material-dark !default;

$secondary-transition: 0.6;
